.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 10px 20px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: var(--hovered-color);
    }
    &__text {
        color: var(--white);
    }
}
