.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;

    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--white);

        width: 30vw;
        position: fixed;
        padding: 30px 20px;
        border-radius: 17px;
    }
}
